
<li>How is are the scores calculated?</li>
<li>Both job total are used to determine the best fit for an area. A single job that is above 50 will recieve 100 points. If a job total is below 10 then a handicap will be placed on the other job by an amount of 33%. This helps prevent a single job having many results while the other not having any while still achieveing a high ranking score.</li>
