@import "bootstrap-sprockets";
@import "bootstrap";

@import "pages";
@import "searches";

.container-wrapper {
    width:100%;
    position: absolute;
    left:0;
}
.medium-blue {
    background-color: #BCD2EE;
}
* {
    color:#463730;
}
.navbar {

}
.thumbnail {

}
