@import "bootstrap-sprockets";
@import "bootstrap";

@import "pages";
@import "searches";

.medium-blue {
    background-color: #BCD2EE;
}
.green {
    background: green;
}
.meetup-bg {
    background: #ccc url(/assets/Homepage/meetup.jpg) no-repeat center -80px;
    height: 500px;
}
* {
    color:#463730;
}
.navbar {

}
.float-right {
    float:right;
}
